# Replace this with your TinyMCE API key from https://www.tiny.cloud/my-account/integrate/
TINYMCE_API_KEY=your-api-key

# Replace this with your Uploadcare PUBLIC key from https://app.uploadcare.com/
UPLOADCARE_PUBLIC_KEY=your-public-key

# Replace this with your Uploadcare SECRET key from https://app.uploadcare.com/
UPLOADCARE_SECRET_KEY=your-secret-key
